@import '../../variables.scss';

.edit-button {
  width: 300px;
  text-align: right;
  color: $primary-color;
  text-decoration: underline;
}
  
.edit-button:hover {
  cursor: pointer;
}

.profile-pic-settings {
  margin-bottom: 10px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

#file-upload {
  font-size: 14px;
  width: 150px;
}

.push-up-10 {
  margin-bottom: 6vh;
}
  
#signup-link {
  cursor: pointer;
}