@import '../../variables.scss';

.standard-background {
    background-color: $primary-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1.5vmin);
}

.standard-header {
    color: white
}
  
.standard-link {
    color: $link-color; 
}

.standard-link:hover {
    color: $link-color; 
}